.section-title {
    color: $yellow;
    font-family: Gagalin;
    font-size: rem(72px);
    font-weight: 400;
    line-height: rem(85px);
    margin-top: rem(70px);
    margin-bottom: rem(25px); 

    @include tab {
        margin-top: 0;
        text-align: center;
    } 

    @include mob  {
        font-size: rem(56px);
    }  
}