.section_screen-4 {
    background: url("../img/backgrounds/screen-4-bg.jpg") center 0 no-repeat;
    background-size: cover;
    position: relative;
}

.section-title_screen_4 {
	@include tab {
		margin-left: rem(-60px);
	}
}
.team {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	background-color: rgba($black, .93);
	padding-left: rem(80px);

	@include tab {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}
}

.team__list {
	margin-top: rem(70px);
}

.team__item {
	margin-bottom: rem(35px);
	width: 80%;

	&_active {

		.team__container {
			height: auto;
		}
		.team__name {
			color: $yellow;
			&:before {
				transform: rotate(180deg); 
			}
		}
	}
}

.team__name {
	color: $white;
	font-family: Gagalin;
	font-size: rem(14px);
	font-weight: 400;
	display: flex;
	align-items: center;
	margin-bottom: rem(15px);
	cursor: pointer;

	@include tab {
		justify-content: center;
	}

	&:before {
		content: "";
		width: 0;
		height: 0;
		border-top: rem(6px) solid $yellow;
		border-right: rem(5px) solid transparent;
		border-left: rem(5px) solid transparent;
		margin-right: rem(8px);
	}
}

.team__container {
	display: flex;
	height: 0;
	overflow: hidden;

	@include tab {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.team__foto {
	width: rem(100px);
	height: rem(100px);
	border-radius: 50%;
	overflow: hidden;
	margin-left: rem(10px);

	@include tab {
		margin-bottom: 20px;
	}
}

.team__img {
	// свойства для позиционирования фотографии
}

.team__description {
	color: #ffffff;
	font-family: Ubuntu;
	font-size: rem(14px);
	width: 70%;
	padding-left: rem(27px);
	margin-top: rem(-3px);

	@include tab {
		padding: 0;
	}
	
	.team__title {
		font-weight: 700;
		margin-bottom: rem(12px);
	}
	p {
		font-weight: 300;
		line-height: rem(24px);
	}
}





