.section_screen-1 {
    background: url("../img/backgrounds/screen-1-bg.png") center center no-repeat;
    background-size: cover;
}

.container_screen-1 {
    height: 100%;
}

.header {
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    padding: 12px 0;
}

.header__logo {
    margin-right: auto;
}

.logo__link {
    display: block;
    width: 92px;
    height: 69px; 
}

.logo__img {
    width: 92px;
    height: 69px; 
}

.header__menu {
    display: flex;
    align-items: center;
    margin-right: 15.5px;
}

.menu__list {
    display: flex;
    flex-flow: row no-wrap;
}

.menu__item {
    display: inline-flex;
    align-items: center;

    &:after{
        display: inline-flex;
        align-items: center;
        content: "";
        background-color: $white;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin: 0 15px;
    }

    &:last-child {

        &:after {
            display: none;
        }
    }
}

.menu__link {
    color: $white;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.menu-btn {
    width: 24px;
    height: 22px;
    background: url("../../img/icons/menu-icon.png") center center no-repeat;
    background-size: cover;
    margin-left: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    display: none;
}

.content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 170px;
    margin: 0 20px;
}

.content__section {

    .section-title, .content__text {
        padding-left: 10px;
    }
}

.content__img {
    width: 451px;
    height: 420px;
    background: url("../img/content/burger-1s.png") center center no-repeat;
    background-size: cover;
}

.content__text {
    color: $white;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;
    line-height: 60px;
}

.nav-btn {
    display: block;
    width: 29px;
    height: 14px;
    background: url("../img/icons/down-arrow.svg") center center no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -14px;
    bottom: 0;
    margin-bottom: 40px;
}


