.section_screen-2 {
	background: url("../img/backgrounds/screen-2-bg.png") center center no-repeat;
    background-size: cover;
}

.container-screen-2 {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-title_color_black {
	color: $black;
	margin-bottom: 72px;
	margin-top: -100px;
}

.benefits__list {
	display: flex;

	p {
		opacity: 0.8;
		color: $black;
		font-family: Ubuntu;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
	}
}

.benefits__item {
	margin: 0 17px;
	flex: 1;
}

.benefits__image {
	width: 97px;
	height: 89px;
	margin: 0 auto 30px;

	&_meat {
		fill: $red;
	}

	&_hand {
		fill: $yellow;
	}

	&_natural {
		fill: $green;
	}
}

.benefits_icon {
	max-width: 100%;
	max-height: 100%;
}

.benefits__title {
	color: $black;
	font-family: Lifehack;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 15px;
	line-height: 28px;
}