.section_screen-1 {
    background: url("../img/backgrounds/screen-1-bg.png") center center no-repeat;
    background-size: cover;
}

.container_screen-1 {
    height: 100%;
}

.header {
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    padding: rem(12px) 0;
}

.header__logo {
    margin-right: auto;
}

.logo__link {
    display: block;
    width: rem(92px);
    height: rem(69px); 
}

.logo__img {
    width: rem(92px);
    height: rem(69px); 
}

.header__menu {
    display: flex;
    align-items: center;
    margin-right: rem(15.5px);

    @include tab {
        display: none;
    }
}

.menu__list {
    display: flex;
    flex-flow: row no-wrap;
}

.menu__item {
    display: inline-flex;
    align-items: center;

    &:after{
        display: inline-flex;
        align-items: center;
        content: "";
        background-color: $white;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        margin: 0 rem(15px);
    }

    &:last-child {

        &:after {
            display: none;
        }
    }
}

.menu__link {
    color: $white;
    font-family: Ubuntu;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.menu-btn {
    width: rem(24px);
    height: rem(22px);
    background: url("../img/icons/menu-icon.png") center center no-repeat;
    background-size: cover;
    margin-left: rem(30px);
    border: 0;
    outline: none;
    cursor: pointer;
    display: none;

    @include tab {
        display: flex;
    }
}

.content {
    // width: rem(451px);
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-bottom: rem(170px);
    margin: 0 rem(20px);

    @include tab {
        flex-direction: column;
        padding: 0 10%;
        margin: 0;
        justify-content: center;
        margin-bottom: rem(170px);
    }

}

.content__section {

    .section-title, .content__text {
        padding-left: rem(10px);

    }

    @include tab {
        text-align: center;
        .section-title, .content__text {
            padding-left: 0;
            width: rem(451px);
        }
        
    }
}

.content__img {
    width: rem(451px);
    height: rem(420px);
    background: url("../img/content/burger-1s.png") center center no-repeat;
    background-size: cover;

    @include mob {
      width: rem(360px);
      height: rem(333px);  
    }
}

.content__text {
    color: $white;
    font-family: Lifehack;
    font-size: rem(65px);
    font-weight: 500;
    line-height: rem(60px);
}

.nav-btn {
    display: block;
    width: rem(29px);
    height: rem(14px);
    background: url("../img/icons/down-arrow.svg") center center no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: rem(-14px);
    bottom: 0;
    margin-bottom: rem(40px);
}


