.wrapper {
    position: relative;
    width: 100%;

    // потом посмотреть, что будет без этой найстройки
    min-width: 940px + 20px;

    min-height: 100%;
    overflow: hidden;
}

.maincontent {
    height: 100%;
    min-height: 650px; 
}

.section {
    width: 100%;
    min-height: 650px; 
    height: 100vh;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

