.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

.maincontent {
    min-height: 650px; 
    height: 100%;
}

.section {
    width: 100%;
    min-height: 650px; 
    height: 100%;

    // @include tab {
    //     min-height: ; 
    // }
    // @include mob {
    //     min-height: 400px; 
    // }
}

.container {
    position: relative;
    width: 95%;
    height: 100%;
    max-width: rem(940px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include tab {
        max-width: $tablets;
    }
    
    @include mob {
        max-width: $mobile;
    }
}

