@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

//responsive
@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin tab{
	@media screen and (max-width: $tablets) {
		@content;
	}
}

@mixin mob{
	@media screen and (max-width: $mobile) {
		@content;
	}
}